.dashboard-rechart-first-two {
    display: flex;
    margin-bottom: 50px;
}

.month-wise {
    margin-right: 30px;
}

.barchart {
    display: flex;
    margin-left: 100px;
}

.barchart p {
    padding: 10px;
}

.barchart-revenue-color {
    border-left: 20px solid #8884d8;
}

.barchart-investment-color {
    border-left: 20px solid red;
}

@media screen and (max-width: 600px) {
    .dashboard-rechart-first-two {
        display: block;
        margin-bottom: 50px;
    }

    .chart-hieght-width {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .dashboard-rechart-first-two {
        display: block;
        margin-bottom: 50px;
    }
}